.fondo{
    background: rgb(57,144,247);
    background: linear-gradient(0deg, rgba(57,144,247,0.3085609243697479) 0%, rgba(11,91,209,1) 100%);
}

#carlosSonriente{
    border-radius: 50px;
}

#terminos{
    width: 20px !important;
    border: hidden;
    height: 20px !important;
    padding: 2px !important;
   
}

header{
    background: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 100;
    width: 100%;
  margin-top: 0% !important;
  
 
}
main{
   
    padding: 80px;
}

