.fondo{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(88,6,140,0.5074404761904762) 19%);
}

#terminos{
    width: 20px !important;
    border: hidden;
    height: 20px !important;
    padding: 2px !important;
   
}

header{
    background: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 100;
    width: 100%;
  margin-top: 0% !important;
  
 
}
main{
   margin-top: 0%;
    padding: 50px;
}

navbar{
    margin-top: 0% !important;
}